nav(class="navbar navbar-dark bg-dark")
            ul.nav
                li.nav-item
                    a.nav-link(href="/user/login") Login
                li.nav-item
                    a.nav-link(href="/user") Register