nav(class="navbar navbar-dark bg-dark")
            ul.nav
                li.nav-item
                    a.nav-link(href="/course/add") Add Course
                li.nav-item
                    a.nav-link(href="/course/") View Course
                li.nav-item
                    a.nav-link(href="/user/update") Update Profile
            ul.nav-item.ml-auto
                li.nav-item
                    a.nav-link(href="/user/login") Logout